version: 2.1
jobs:
  # running commands on a basic image
  Hello-World:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run:
          name: Saying Hello
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
            echo "my artifact file" > /tmp/artifact-1;
            mkdir /tmp/downloads;
            echo "my artifact files in a dir" > /tmp/artifacts/artifact-2;
            npm run download

      - store_artifacts:
          path: /tmp/artifact-1
          destination: artifact-file

      - store_artifacts:
          path: /tmp/downloads

  # fetching code from the repo
  Fetch-Code:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Getting the Code
          command: |
            ls -al
            echo '^^^Your repo files^^^'
  # running a node container testing deploy
  Using-Node:
    docker:
      - image: cimg/node:17.2
    steps:
      - run:
          name: Running the Node Container
          command: |
            node -v
workflows:
  Example-Workflow:
    jobs:
      - Hello-World
#      - Fetch-Code:
#          requires:
#            - Hello-World
#      - Using-Node:
#          requires:
#            - Fetch-Code
#      - deployment-orb/list-directory:
#          name: List Directory
#          requires:
#            - Using-Node
#      - deployment-orb/go-to-home:
#          name: Go Home
#          requires:
#            - Using-Node

orbs:
  deployment-orb:
    orbs:
      slack: circleci/slack@2.5.0
    executors:
      node:
        docker:
          - image: cimg/node:16.16.0
        environment:
          USER: circleci
    jobs:
      list-directory:
        executor: node
        steps:
          - run:
              command: |
                node -v
      go-to-home:
        executor: node
        steps:
          - run:
              command: |
                cd
                
